/tb/sim_core/work/*
software/tiny-risc-v-main/assembly_code.asm
software/tiny-risc-v-main/errors.py
software/tiny-risc-v-main/i_binaries_gen.py
software/tiny-risc-v-main/LICENSE
software/tiny-risc-v-main/program.bin
software/tiny-risc-v-main/program.mem
software/tiny-risc-v-main/README.md
software/tiny-risc-v-main/RiscV.py
software/tiny-risc-v-main/__pycache__/errors.cpython-314.pyc
software/tiny-risc-v-main/__pycache__/i_binaries_gen.cpython-314.pyc
tb/sim_top/work/_info
tb/sim_top/work/_lib.qdb
tb/sim_top/work/_lib1_10.qdb
tb/sim_top/work/_lib1_10.qpg
tb/sim_top/work/_lib1_10.qtl
tb/sim_top/work/_lib1_45.qdb
tb/sim_top/work/_lib1_45.qpg
tb/sim_top/work/_lib1_45.qtl
tb/sim_top/work/_info
tb/sim_top/work/_lib.qdb
tb/sim_top/work/_lib1_82.qdb
tb/sim_top/work/_lib1_82.qpg
tb/sim_top/work/_lib1_82.qtl
tb/sim_top/work/_lib1_97.qdb
tb/sim_top/work/_lib1_97.qpg
tb/sim_top/work/_lib1_97.qtl
