/tb/sim_core/work/*
tb/sim_top/work/_info
tb/sim_top/work/_lib.qdb
tb/sim_top/work/_lib1_10.qdb
tb/sim_top/work/_lib1_10.qpg
tb/sim_top/work/_lib1_10.qtl
tb/sim_top/work/_lib1_45.qdb
tb/sim_top/work/_lib1_45.qpg
tb/sim_top/work/_lib1_45.qtl
tb/sim_top/work/_info
tb/sim_top/work/_lib.qdb
tb/sim_top/work/_lib1_82.qdb
tb/sim_top/work/_lib1_82.qpg
tb/sim_top/work/_lib1_82.qtl
tb/sim_top/work/_lib1_97.qdb
tb/sim_top/work/_lib1_97.qpg
tb/sim_top/work/_lib1_97.qtl
vivado/RV32I/RV32I.cache/ip/2025.2/2/6/260a1ec2bdf7f714/260a1ec2bdf7f714.xci
vivado/RV32I/RV32I.cache/ip/2025.2/2/6/260a1ec2bdf7f714/u_ila_0_sim_netlist.v
vivado/RV32I/RV32I.cache/ip/2025.2/2/6/260a1ec2bdf7f714/u_ila_0_sim_netlist.vhdl
vivado/RV32I/RV32I.cache/ip/2025.2/2/6/260a1ec2bdf7f714/u_ila_0_stub.v
vivado/RV32I/RV32I.cache/ip/2025.2/2/6/260a1ec2bdf7f714/u_ila_0_stub.vhdl
vivado/RV32I/RV32I.cache/ip/2025.2/2/6/260a1ec2bdf7f714/u_ila_0.dcp
vivado/RV32I/RV32I.cache/ip/2025.2/3/1/31f0e2456cad6b20/31f0e2456cad6b20.xci
vivado/RV32I/RV32I.cache/ip/2025.2/3/1/31f0e2456cad6b20/stats.txt
vivado/RV32I/RV32I.cache/ip/2025.2/3/1/31f0e2456cad6b20/u_ila_0_sim_netlist.v
vivado/RV32I/RV32I.cache/ip/2025.2/3/1/31f0e2456cad6b20/u_ila_0_sim_netlist.vhdl
vivado/RV32I/RV32I.cache/ip/2025.2/3/1/31f0e2456cad6b20/u_ila_0_stub.v
vivado/RV32I/RV32I.cache/ip/2025.2/3/1/31f0e2456cad6b20/u_ila_0_stub.vhdl
vivado/RV32I/RV32I.cache/ip/2025.2/3/1/31f0e2456cad6b20/u_ila_0.dcp
vivado/RV32I/RV32I.cache/ip/2025.2/9/b/9b5cfb2f2b076e55/9b5cfb2f2b076e55.xci
vivado/RV32I/RV32I.cache/ip/2025.2/9/b/9b5cfb2f2b076e55/dbg_hub_sim_netlist.v
vivado/RV32I/RV32I.cache/ip/2025.2/9/b/9b5cfb2f2b076e55/dbg_hub_sim_netlist.vhdl
vivado/RV32I/RV32I.cache/ip/2025.2/9/b/9b5cfb2f2b076e55/dbg_hub_stub.v
vivado/RV32I/RV32I.cache/ip/2025.2/9/b/9b5cfb2f2b076e55/dbg_hub_stub.vhdl
vivado/RV32I/RV32I.cache/ip/2025.2/9/b/9b5cfb2f2b076e55/dbg_hub.dcp
vivado/RV32I/RV32I.cache/ip/2025.2/9/b/9b5cfb2f2b076e55/stats.txt
vivado/RV32I/RV32I.cache/ip/2025.2/9/c/9c26a01c126ca198/9c26a01c126ca198.xci
vivado/RV32I/RV32I.cache/ip/2025.2/9/c/9c26a01c126ca198/u_ila_0_sim_netlist.v
vivado/RV32I/RV32I.cache/ip/2025.2/9/c/9c26a01c126ca198/u_ila_0_sim_netlist.vhdl
vivado/RV32I/RV32I.cache/ip/2025.2/9/c/9c26a01c126ca198/u_ila_0_stub.v
vivado/RV32I/RV32I.cache/ip/2025.2/9/c/9c26a01c126ca198/u_ila_0_stub.vhdl
vivado/RV32I/RV32I.cache/ip/2025.2/9/c/9c26a01c126ca198/u_ila_0.dcp
vivado/RV32I/RV32I.cache/ip/2025.2/c/a/ca5e84b87dacf547/ca5e84b87dacf547.xci
vivado/RV32I/RV32I.cache/ip/2025.2/c/a/ca5e84b87dacf547/u_ila_0_sim_netlist.v
vivado/RV32I/RV32I.cache/ip/2025.2/c/a/ca5e84b87dacf547/u_ila_0_sim_netlist.vhdl
vivado/RV32I/RV32I.cache/ip/2025.2/c/a/ca5e84b87dacf547/u_ila_0_stub.v
vivado/RV32I/RV32I.cache/ip/2025.2/c/a/ca5e84b87dacf547/u_ila_0_stub.vhdl
vivado/RV32I/RV32I.cache/ip/2025.2/c/a/ca5e84b87dacf547/u_ila_0.dcp
vivado/RV32I/RV32I.cache/ip/2025.2/f/a/fa0a6e583a6a0e7c/fa0a6e583a6a0e7c.xci
vivado/RV32I/RV32I.cache/ip/2025.2/f/a/fa0a6e583a6a0e7c/stats.txt
vivado/RV32I/RV32I.cache/ip/2025.2/f/a/fa0a6e583a6a0e7c/u_ila_0_sim_netlist.v
vivado/RV32I/RV32I.cache/ip/2025.2/f/a/fa0a6e583a6a0e7c/u_ila_0_sim_netlist.vhdl
vivado/RV32I/RV32I.cache/ip/2025.2/f/a/fa0a6e583a6a0e7c/u_ila_0_stub.v
vivado/RV32I/RV32I.cache/ip/2025.2/f/a/fa0a6e583a6a0e7c/u_ila_0_stub.vhdl
vivado/RV32I/RV32I.cache/ip/2025.2/f/a/fa0a6e583a6a0e7c/u_ila_0.dcp
vivado/RV32I/RV32I.cache/wt/project.wpc
vivado/RV32I/RV32I.cache/wt/synthesis.wdf
vivado/RV32I/RV32I.cache/wt/webtalk_pa.xml
software/risv-v-sw/errors.py
software/risv-v-sw/i_binaries_gen.py
software/risv-v-sw/LICENSE
software/risv-v-sw/program.bin
software/risv-v-sw/program.mem
software/risv-v-sw/README.md
software/risv-v-sw/RiscV.py
software/risv-v-sw/__pycache__/errors.cpython-314.pyc
software/risv-v-sw/__pycache__/i_binaries_gen.cpython-314.pyc
vivado/RV32I/RV32I.cache/wt/project.wpc
vivado/RV32I/RV32I.cache/wt/synthesis.wdf
vivado/RV32I/RV32I.runs/.jobs/vrs_config_147.xml
vivado/RV32I/RV32I.runs/impl_1/.init_design.begin.rst
vivado/RV32I/RV32I.runs/impl_1/.opt_design.begin.rst
vivado/RV32I/RV32I.runs/impl_1/.phys_opt_design.begin.rst
vivado/RV32I/RV32I.runs/impl_1/.place_design.begin.rst
vivado/RV32I/RV32I.runs/impl_1/.route_design.begin.rst
vivado/RV32I/RV32I.runs/impl_1/.vivado.begin.rst
vivado/RV32I/RV32I.runs/impl_1/clockInfo.txt
vivado/RV32I/RV32I.runs/impl_1/dfx_runtime.txt
vivado/RV32I/RV32I.runs/impl_1/gen_run.xml
vivado/RV32I/RV32I.runs/impl_1/init_design.pb
vivado/RV32I/RV32I.runs/impl_1/opt_design.pb
vivado/RV32I/RV32I.runs/impl_1/phys_opt_design.pb
vivado/RV32I/RV32I.runs/impl_1/place_design.pb
vivado/RV32I/RV32I.runs/impl_1/route_design.pb
vivado/RV32I/RV32I.runs/impl_1/runme.log
vivado/RV32I/RV32I.runs/impl_1/rv32i_top_Soc_bus_skew_routed.rpt
vivado/RV32I/RV32I.runs/impl_1/rv32i_top_Soc_bus_skew_routed.rpx
vivado/RV32I/RV32I.runs/impl_1/rv32i_top_Soc_clock_utilization_routed.rpt
vivado/RV32I/RV32I.runs/impl_1/rv32i_top_Soc_control_sets_placed.rpt
vivado/RV32I/RV32I.runs/impl_1/rv32i_top_Soc_drc_opted.rpt
vivado/RV32I/RV32I.runs/impl_1/rv32i_top_Soc_drc_routed.rpt
vivado/RV32I/RV32I.runs/impl_1/rv32i_top_Soc_io_placed.rpt
vivado/RV32I/RV32I.runs/impl_1/rv32i_top_Soc_methodology_drc_routed.pb
vivado/RV32I/RV32I.runs/impl_1/rv32i_top_Soc_methodology_drc_routed.rpt
vivado/RV32I/RV32I.runs/impl_1/rv32i_top_Soc_methodology_drc_routed.rpx
vivado/RV32I/RV32I.runs/impl_1/rv32i_top_Soc_opt.dcp
vivado/RV32I/RV32I.runs/impl_1/rv32i_top_Soc_physopt.dcp
vivado/RV32I/RV32I.runs/impl_1/rv32i_top_Soc_placed.dcp
vivado/RV32I/RV32I.runs/impl_1/rv32i_top_Soc_power_routed.rpt
vivado/RV32I/RV32I.runs/impl_1/rv32i_top_Soc_power_routed.rpx
vivado/RV32I/RV32I.runs/impl_1/rv32i_top_Soc_power_summary_routed.pb
vivado/RV32I/RV32I.runs/impl_1/rv32i_top_Soc_route_status.pb
vivado/RV32I/RV32I.runs/impl_1/rv32i_top_Soc_route_status.rpt
vivado/RV32I/RV32I.runs/impl_1/rv32i_top_Soc_routed.dcp
vivado/RV32I/RV32I.runs/impl_1/rv32i_top_Soc_timing_summary_routed.pb
vivado/RV32I/RV32I.runs/impl_1/rv32i_top_Soc_timing_summary_routed.rpt
vivado/RV32I/RV32I.runs/impl_1/rv32i_top_Soc_timing_summary_routed.rpx
vivado/RV32I/RV32I.runs/impl_1/rv32i_top_Soc_utilization_placed.pb
vivado/RV32I/RV32I.runs/impl_1/rv32i_top_Soc_utilization_placed.rpt
vivado/RV32I/RV32I.runs/impl_1/rv32i_top_Soc.tcl
vivado/RV32I/RV32I.runs/impl_1/rv32i_top_Soc.vdi
vivado/RV32I/RV32I.runs/impl_1/vivado.jou
vivado/RV32I/RV32I.runs/impl_1/vivado.pb
vivado/RV32I/RV32I.runs/synth_1/.vivado.begin.rst
vivado/RV32I/RV32I.runs/synth_1/dfx_runtime.txt
vivado/RV32I/RV32I.runs/synth_1/gen_run.xml
vivado/RV32I/RV32I.runs/synth_1/runme.log
vivado/RV32I/RV32I.runs/synth_1/rv32i_top_Soc_utilization_synth.pb
vivado/RV32I/RV32I.runs/synth_1/rv32i_top_Soc_utilization_synth.rpt
vivado/RV32I/RV32I.runs/synth_1/rv32i_top_Soc.dcp
vivado/RV32I/RV32I.runs/synth_1/rv32i_top_Soc.tcl
vivado/RV32I/RV32I.runs/synth_1/rv32i_top_Soc.vds
vivado/RV32I/RV32I.runs/synth_1/vivado.jou
vivado/RV32I/RV32I.runs/synth_1/vivado.pb
vivado/RV32I/RV32I.xpr
